$black              : #000000;
$dark               : #3B415C;
$white              : #FFFFFF;
$positive           : #47C8A4;
$positive-hover     : #37AD8C;
$negative           : #EB5769;
$negative-hover     : #B73E4C;
$btn-outline        : #E3E5EB;
$grey-1             : #4F4F56;
$grey-2             : #9B9EAC;
$btn-outline-hover  : #00005010;
$backdoor           : #00000060;
